<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShoeStore.Properties.Settings.shoestoreConnectionString"
            connectionString="Data Source=DESKTOP-JS1M365\MSSQLSERVER1;Initial Catalog=shoestore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>